---
name: Gradle

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        java: [8, 11]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Run commands
        run: ./gradlew build
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: matrix.java == 8
        with:
          name: omero-ldaptool
          path: build/distributions/*
          if-no-files-found: error
  upload:
    name: Create release
    needs: build
    runs-on: ubuntu-latest
    if: startswith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: List artifacts
        run: ls -R
      - name: Create release draft
        uses: softprops/action-gh-release@v1
        with:
          files: omero-ldaptool/*
          draft: true
          fail_on_unmatched_files: true
